In [23]:
# print "Hello, World!"
pritn("Hello, World!")

NameError: name 'pritn' is not defined

In [35]:
if x == 5
    print("x == 5")

SyntaxError: expected ':' (3930893725.py, line 1)

In [30]:
x = 10
print(y)

NameError: name 'y' is not defined

In [34]:
calculate_sum(5, 10)

NameError: name 'calculate_sum' is not defined

In [38]:
x = "Hello"
y = 5
print(x + y)

TypeError: can only concatenate str (not "int") to str

In [44]:
person = {"name": "Alice", "age": 30}
print(person.city)

AttributeError: 'dict' object has no attribute 'city'

In [48]:
x = 10
y = 0
result = x / y

ZeroDivisionError: division by zero

In [1]:
my_dict = {"name": "Alice", "age": 30}
print(my_dict["city"])

KeyError: 'city'

In [2]:
from module_name import nonexistent_function

ModuleNotFoundError: No module named 'module_name'

In [6]:
x = "abc"
y = int(x)

ValueError: invalid literal for int() with base 10: 'abc'